# Обязательные параметры
BOT_TOKEN="ВАШ_ТОКЕН_БОТА"
WEB_APP_URL="https://ваш-сайт.ру"

# Настройки Redis
REDIS_URL="redis://localhost:6379/0"

# Администрирование
ADMIN_ID="ВАШ_TELEGRAM_ID"
LOG_LEVEL="INFO"

# Дополнительные настройки
DEBUG="False"
